build
dist
malaya_speech.egg-info
malaya_speech_gpu.egg-info
.ipynb_checkpoints
malaya/__pycache__
*__pycache__
*.DS_Store
docs/_build
docs/_static
siamese
skipthought
*<MagicMock*
*Untitled*.ipynb
wiki.ms.vec
*tensorboard
client_secrets.json
lid.176.ftz
coverage.xml
.coverage
.coveragerc
htmlcov
.pytest_cache
misc/crawl/isu*
a.py
pipeline.png
test/out
test/checkpoint
*egg-info
test/config.json
test/ctc-vocab.json
test/e2e-tts-dataset.pkl
._*
logits.pkl
*.pth
voxceleb2-test-*
flagged
*.pt
malay-stats.json
lightning_logs
conformer-base-32
conformer-base-singlish-32
conformer-base-v2-32
conformer-tiny-32
emformer-base-32
conformer-base-singlish.py
export-conformer-medium-torchaudio.ipynb
export-conformer-base-torchaudio.ipynb
export-conformer-tiny-torchaudio.ipynb
export-emformer-base-torchaudio.ipynb
conformer-medium-32
wav2mel.pt
dvector-step250000.pt
LIVE - Perutusan khas oleh Perdana Menteri Muhyiddin Yassin-YzjNAOSALU8.mp3
vad-test-63.pkl
vad-test-30.pkl
base-singlish.ipynb
conformer-medium-mixed.py
model_config.yaml
model_weights.ckpt
conformer-medium-mixed-32
export-is-clean-speakernet.ipynb
export-is-clean-titanet-l.ipynb
speakernet-is-clean-32
titanetl-is-clean-32
is-clean.yaml
titan_model.ckpt
titanl_model_config.yaml
lightning-speakernet-is-clean.py
lightning-titanetl-is-clean.py
random-embedding-*.pkl
hifigan-config.json
mediumvc-32
conformer-large.py
malay_vits/config/*
malay_vits/logs/*
malay_vits/*.json
malay_vits/*.ipynb
conformer-large-mixed-32
female.ipynb
male.ipynb
test.wav
augmentation-switchboard*
conformer-large-multigpu.py
test-mixed1.wav
test-mixed2.wav
conformer-medium-noisy-32
resnet-unet
resnet-unet-v2
resnet-unet.py
semisupervised-transducer.json
semisupervised-transducer-v2.json
data/*/*-Copy*.ipynb
conformer-base-v2-noisy-32
base-noisy.py
base.py
malay-asr-train-shuffled-combined-semi.json
data/youtube/done
.hypothesis
siti-norhaliza-vocals
siti-nurhaliza
siti-nurhaliza-done
creep-vocal.wav
onlymp3*
Toodia Podcast EP #3： ＂Macam mana nak manage MASA dan WORK LIFE BALANCE ？＂ (Part 2) [_FXlFtCIFYk].mp3
data/semisupervised-whisper-stt/dataset-*.json
data/semisupervised-whisper-stt/filtered-youtube.json
data/semisupervised-whisper-stt/ms.jsonl
data/semisupervised-whisper-stt/en.jsonl
conformer-medium-v2-whisper-32
