build
dist
malaya_speech.egg-info
malaya_speech_gpu.egg-info
.ipynb_checkpoints
malaya/__pycache__
*__pycache__
*.DS_Store
docs/_build
docs/_static
siamese
skipthought
*<MagicMock*
*Untitled*.ipynb
wiki.ms.vec
*tensorboard
client_secrets.json
lid.176.ftz
coverage.xml
.coverage
.coveragerc
htmlcov
.pytest_cache
misc/crawl/isu*
a.py
pipeline.png
test/out
test/checkpoint
*egg-info
test/config.json
test/ctc-vocab.json
test/e2e-tts-dataset.pkl
._*
logits.pkl
*.pth
voxceleb2-test-*
flagged
*.pt
malay-stats.json
lightning_logs
conformer-base-32
conformer-base-v2-32
conformer-tiny-32
emformer-base-32
conformer-base.py
conformer-large.py
conformer-tiny.py
emformer-base.py
export-conformer-base-torchaudio.ipynb
export-conformer-tiny-torchaudio.ipynb
export-emformer-base-torchaudio.ipynb
conformer-medium-32
conformer-medium.py